<div class='text-center'> 
<%= link_to "Access My Images", root_path, class: "btn btn-primary" %> 

    <table class="table">
    <thead>
      <tr>
        <th>User ID</th>
        <th>Name</th>
      </tr>
    </thead>

    <tbody>      
    <% @user.each do |user| %>
        <tr>
            <td><%= user.id %></td>
            <td><%= user.name %></td>
        </tr>
      <% end %>
    </tbody>

</div>