<div class="text-center home">
  <h2>Welcome to my image repository.</h2>
  <br/>
  <p>
    Please signup or login to use the app.
  <p>
  <%= link_to "Sign up", signup_path, class: "btn btn-primary" %>
</div>